/*
    Workshop: Group Collaboration with Git and GitHub
    Group Members: Angelina Hill | James Sullivan
    Due Date: Jan 11 @ 11.59pm
*/

@media all{

}

body{

}

/*Main body setup*/
#main{
    margin: 0 auto;
    width: 80%;
    height: 20px;
    background-color: aqua;

}

/*Banner setup*/
.banner{

}

/*videoshare setup*/




/*Social media setup*/




/*donation setup*/



/*donation button setup*/
